/* ===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    height: 100%; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    margin: 0;
    padding: 0;
}

.main-content {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
}

/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem !important;
}

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}

.mapa {
    background: url(/img/mapa.PNG);
    background-repeat: no-repeat;
    width:100%;
    height:700px;
}


.logo{
    width: 150px;
}

.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
} 

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:300px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.seccion-titulo{
    color: white;
}

.contacto .rectangulo {
margin-top: -5rem;
background:#1b2a4e;
border-radius: 10px;
box-shadow: 0px 1px 4px 1px #809de0;
}

.contacto .row {
width: 100%;
display: flex;
align-items: center;
}

.descripcion {
color: white;
font-size: 1.2rem;
}

.btn-contacto {
color: white;
font-weight: bold;
background-color: transparent;
border: 3px solid white;
padding: 10px 0px;
border-radius: 100px;
transition: all 0.2s ease-in-out;
width: 200px;
height: 50px;
margin: auto;
display: flex;
text-align: center;
justify-content: center;
}

.contacto .btn-contacto:hover {
background-color: white;
color: black;
}

.btn-contacto i {
color: white;
display: flex;
text-align: center;
justify-content: center;
font-size: 1.3rem;
transition: all 0.2s ease-in-out;
padding: 0px 10px;

}

.contenedor-contacto{
    text-align: center;
}

.contacto .btn-contacto:hover i {
color: black;
}


/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;
    margin-top: auto;
    width: 100%; 
    padding: 1rem 0; 
}
footer p{
    color:#f3f3f3;
    
}

#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================ICONOS================================*/

.btn-login{
    border: none;
    display: flex;
    margin: auto;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 20px;
    background: none;
}

/*=========================NAVBAR================================*/

.btn-navbar{
    margin: auto;
}

/*=========================404================================*/

.body-404{
    background-image: url('/img/404.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

/*=========================modal Login y Logout================================*/

.contenedor-modal{
    width: 100%;
    padding: 15px;
}
.formulario-modal{
    background: #fff;
    margin-top: 80px;
    padding: 3px;
}
.formulario-modal h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
.formulario-modal input[type="text"],
.formulario-modal input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}

.modal {
    backdrop-filter: blur(5px);
}

.formDetalle {
    background: white;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: auto; /* Permite que el ancho sea dinámico según el contenido */
    max-width: 100%; /* Limita el ancho máximo al 100% del contenedor padre */
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}


.btnRegresar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 350px;
    margin-bottom: 50px;
}

.modal-detalle{
    background: none;
    border: none;
}

.btn-crear{
    margin-top: 30px;
}

.btn-formularios{
    text-align: center;
}

/*=========================Estilos para las tablas================================*/

table.dataTable thead th {
    text-align: center !important; 
    vertical-align: middle !important; 
}

table.dataTable tbody td {
    text-align: center !important;
    vertical-align: middle !important;
}

.contenedorCentrado{
    width: 100%; 
    max-width: 1450px; 
    padding: 20px; 
}


/*=========================******================================*/

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}

