<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/head', {tituloWeb: 'Autenticacion'}) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/img/logo.png" alt="Tienda" class="logo">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 btn-navbar">
          <li class="nav-item">
            <a class="nav-link" href="/api/clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/pedidos">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/usuarios">Usuarios</a>
          </li>
        </ul>

      </div>
    </div>
</nav>

<!--=========================***CONTENIDO***================================-->
<br>
<h1 class="texto-centrado">Para acceder a este modulo debes estar autenticado</h1>

<div class="container-login">
    <form id="loginForm" method="post" action="/api/usuarios/login">
        <h1 class="texto-centrado">Login</h1>

        <div class="contenedor-modal">
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input class="g" type="text" id="correo" name="correo" placeholder="Correo Electrónico" required>
            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input class="g" type="password" placeholder="Contraseña" id="pass" name="pass" required>
            </div>

            <input type="submit" class="button" value="Iniciar Sesión">
        </div>
    </form>
</div>


<!--=========================***CONTENIDO***================================-->


<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
    <p class="fs-5 px-3  pt-3">Tienda. &copy; Todos Los Derechos Reservados 2024</p>
    <div id="iconos" >
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>  
    </div>
  </footer>
</div>

<!--JQUERY-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<!--FONTAWESOME ICON-->
<script src="https://kit.fontawesome.com/f7e2f3f7cb.js" crossorigin="anonymous"></script>
<!--DATA TABLES-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.4/b-3.1.1/b-colvis-3.1.1/b-html5-3.1.1/b-print-3.1.1/datatables.min.js"></script>
<!--JS-->
<script src="/js/main.js"></script>

<script>
$(document).ready(function() {
    $('#loginForm').on('submit', function(event) {
        event.preventDefault(); 

        $.ajax({
            url: '/api/usuarios/login',  
            method: 'POST',
            data: $(this).serialize(), 
            success: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: '¡Éxito!',
                    text: 'Inicio de sesión exitoso',
                    confirmButtonText: 'Continuar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/api/productos';
                    }
                });
            },
            error: function(xhr) {
                let mensajeError = 'Ocurrió un error en el inicio de sesión'; 
                if (xhr.responseJSON && xhr.responseJSON.mensaje) {
                    mensajeError = xhr.responseJSON.mensaje; 
                }
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: mensajeError,
                });
            }
        });
    });
});
</script>
    
    

</body>
</html>




