<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function agregarProducto(ref){
            const productoNuevo ={
                "referencia": ref,
                "nombre": "Jeans Azules",
                "descripcion": "Jeans de mezclilla azul, talla 32",
                "precio": 49.99,
                "stock": 50,
                "imagen": "https://monarca.com.co/wp-content/uploads/2023/08/041251DELJEANS.jpg",
                "habilitado": true,
                "cantidad":0
            }
            var carrito;
            carrito= localStorage.getItem('carrito')
            if(carrito ==null || carrito == undefined){
                carrito =[]
                carrito.push(productoNuevo)
                // console.log(carrito)
                //JSON.stringify(producto)
                localStorage.setItem("carrito",JSON.stringify(productoNuevo))
            }else{
                console.log(carrito)
                carrito= JSON.parse(carrito)
                for (let index = 0; index < carrito.length; index++) {
                    if(productoNuevo.referencia==producto.referencia){
                        producto.cantidad++;
                    }else{
                        carrito.push(productoNuevo)
                    }
                }
                
            }
        }

        function verCarrito(){
            carrito= localStorage.getItem('carrito')
            if(carrito ==null || carrito == undefined){
                console.log('no hay carrito')
            }else{
                carrito = JSON.parse(carrito)
                for (let index = 0; index < carrito.length; index++) {
                    console.log(carrito[index])
                    
                }
            }
        }
    </script>

</head>
<body>
    <button onclick="agregarProducto('prod1')">Producto1</button>
    
    <button onclick="agregarProducto('prod2')">Producto2</button>
    <button onclick="verCarrito()">
        ver Carrito
    </button>
</body>
</html>